.idea/
.DS_STORE
npm-debug.log

coverage/
dist/
docs/
node_modules/
test/

packages/core/src/**/*.js
packages/core/src/**/*.js.map
packages/core/src/**/*.d.ts

sample/aot/
sample/app/**/*.js
sample/app/**/*.js.map
sample/app/**/*.d.ts
sample/dist
sample/fonts
sample/images

/yarn.lock
